---
layout: default
---

<div class="home">

  {% if site.theme_config.show_description %}
    <p>{{ site.description }}</p>
  {% endif %}

  {% if site.theme_config.show_misc_list %}
    <h2 class="home-subtitle">{{ site.theme_config.home.title_misc_list }}</h2>
    <ul>
      {% for entry in site.data.home.misc_entries %}
        <li>
          <span class="home-entry-title">
            {{ entry.title }}
          </span>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if site.theme_config.show_misc_list2 %}
    <h2 class="home-subtitle">{{ site.theme_config.home.title_misc_list2 }}</h2>
    <ul>
      {% for entry in site.data.home.misc_entries2 %}
        <li>
          <span class="home-entry-title">
            {{ entry.title }}
          </span>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if site.theme_config.show_blog %}
    <h2 class="home-subtitle">{{ site.theme_config.home.title_blog }}</h2>
    {% include blog_list.html %}
  {% endif %}

</div>
